<div class="row">
  <%=
    render "pages/show/header",
      logo_url: @logo_url,
      page: @page,
      shortened: @shortened
  %>
  <%=
    render "pages/show/posts",
      page: @page,
      posts: @posts
  %>
</div>
