<li class="nav-item <%= "active" if current_page? page_admin_stats_path(@page) %>">
  <a
    class="nav-link text-truncate"
    href="<%= page_admin_stats_path(@page) %>"
  >
    <i class="fa fa-bar-chart"></i>
    <span class="d-sm-inline">Analytics</span>
  </a>
</li>
