<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>An Important Message from MTGCast</h1>
    <p>
      <em>December 31, 2018</em>
    </p>
    <p>
      MTGCast suffered an unexpected server failure on Friday, December 28 and the website is currently down. We are continuing to investigate the situation but our initial analysis shows that <strong>all podcast files are safe</strong> and we are working to restore access to those files. The website and user data (such as logins), however, are most likely irrecoverable. We will continue to update the community via Twitter and Discord as more information becomes available.
    </p>
    <p>
      Members of <a href="https://www.hipstersofthecoast.com" target="_blank">Hipsters of the Coast</a> and the broader MTG community are working with the MTGCast team to help rebuild the site and we hope to have a timeline soon. We apologize for any inconvenience and thank the MTGCast community for their support while we take the necessary steps to recover and revive the site.
    </p>
    <p>
      If anyone has any concerns about their content or any questions about the rebuild, please join the new <a href="https://discord.gg/XuBujgG" target="_blank">MTGCast Discord server</a>, where we'll be better able to provide support. Alternatively, you can find us on Twitter at <a href="https://www.twitter.com/mtgcast" target="_blank">@MTGCast</a>.
    </p>
  </div>
</div>
