<div class="row">
  <div class="hero-container home">
    <div class="home-text-container">
      <h1>
        <span class="highlight-text">MTGCast</span> is the free platform for Magic: the Gathering podcasts.
      </h1>
      <div class="home-text-info">
        <p>
          Are you an established or aspiring Magic content creator? Then MTGCast is the perfect place to create your podcast. Free hosting, your own RSS feed, plus aggregation in our Magic RSS feed!
        </p>
        <div class="home-text-cta-button-container">
          <p>
            <%= link_to 'Create Your Podcast', new_page_path, class: 'btn btn-lg btn-blue' %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 offset-md-2">
    <div class="homepage-section">
      <h1>The New MTGCast</h1>
      <br />
      <p>
        Welcome to the new MTGCast! We've been busy rebuilding the service over the last few months and we're happy to announce that we're finally ready to begin accepting new podcasts!
      </p>
      <p>
        New to MTGCast? Just <%= link_to 'create your podcast', new_page_path %> and enjoy your free hosting, RSS feed, and apply for inclusion in our aggregate Magic RSS feed!
      </p>
      <p>
        Are you the owner of a podcast that was hosted on the previous version of MTGCast? Please <%= link_to 'sign up for an account', new_user_registration_path %> (all previous accounts were lost) and submit a claim for an existing podcast.
      </p>
      <p>
        We have a lot of awesome features in the works for MTGCast. In the mean time, visit our <%= link_to 'support page', support_path %>, where you'll find a link to our Discord server where we can answer your questions and provide support. Alternatively, you can find us on Twitter at <a href="https://www.twitter.com/mtgcast" target="_blank">@MTGCast</a>.
      </p>
    </div>
  </div>
</div>
