<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="simple-nav">
      <span>
        <%= link_to '< Settings', page_settings_path(@page) %>
      </span>
    </div>
    <h1><%= @page.name %></h1>
    <p>
      Are you sure you want to delete this podcast? This operation is irreversible and will result in all episodes and their associated audio files being permanently deleted.
    </p>
    <p>
      <%= link_to "Delete #{@page.name}", page_path(@page), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>
</div>