<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>All Podcasts</h1>
    <% @pages.each do |page| %>
      <div class="page-container content-block">
        <h3>
          <%= link_to page.name, page_path(page) %>
        </h3>
        <p>
          <em>Last updated: <%= page.posts.published.first.publish_time.localtime.strftime('%m/%d/%Y') %></em>
        </p>
        <p>
          <%= page.posts.published.first.postable.title %>
        </p>
      </div>
    <% end %>
    <div class="pagination-container">
      <%= will_paginate @pages %>
    </div>
  </div>
</div>
