<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" href="<%= page_feed_url(@page) %>" />
<% end %>
<div class="row">
  <%=
    render "pages/show/header",
      logo_url: @logo_url,
      page: @page,
      shortened: @shortened
  %>
  <%=
    render "pages/show/posts",
      page: @page,
      posts: @posts
  %>
</div>
