<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="error-container">
      <%= image_tag 'white-mic-gray-border.png', class: 'error-mic' %>
      <h1>404&mdash;Not Found</h1>
      <p>
        You seem...totally lost.
      </p>
    </div>
  </div>
</div>
