<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>MTGCast Support</h1>
    <p>
      Welcome to the new MTGCast! You've got questions and we've got answers. If the information you're looking for isn't here, please join the new <a href="https://discord.gg/XuBujgG" target="_blank">MTGCast Discord server</a> where we we can answer your questions and provide support. Alternatively, you can find us on Twitter at <a href="https://www.twitter.com/mtgcast" target="_blank">@MTGCast</a>.
    </p>
    <h3>What Can I Do on MTGCast?</h3>
    <p>
      First, if you're new to MTGCast, just <%= link_to 'create your podcast', new_page_path %> and enjoy your free hosting, RSS feed, and apply to for inclusion in our aggregate Magic RSS feed!
    </p>
    <p>
      If you the owner of a podcast that was hosted on the previous version of MTGCast? Please submit a claim for an existing podcast.
    </p>
    <p>
      We have a lot of awesome features in the works for MTGCast. In the mean time, you can do the following things:
      <ul>
        <li>Create a new podast and get your own RSS feed</li>
        <li>Upload new episodes</li>
        <li>View your download stats</li>
        <li>Change the logo of your podcast</li>
        <li>Request inclusion in the MTGCast aggregate feed (existing podcasts will remain a part of the feed)</li>
      </ul>
    </p>
    <p>
      Currently, we are only able to support podcasts that are hosted on MTGCast.
    </p>
    <h3>What Happened to MTGCast?</h3>
    <p>
      At the end of 2018, MTGCast suffered an unexpected server failure. We recovered 10,000 podcast files (give or take) but, unfortunately, we lost all of the user and post information from the WordPress database. That means that, though we didn’t lose any files, those files were all essentially orphans.
    </p>
    <p>
      In February 2019, we were able to restore a skeleton version of MTGCast that allowed existing podcasters to create new accounts and claim their existing podcasts. Since then, we've been busy improving our infrastructure  and building new features.
    </p>
  </div>
</div>