<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>How Can I Help Support MTGCast?</h1>
    <p>
      <%= link_to 'https://paypal.me/mtgcast', target: '_blank', class: 'btn btn-outline-blue' do %>
        <%= image_tag "paypal-logo.png", class: 'paypal-logo' %>
        Donate on PayPal
      <% end %>
    </p>
    <p>
      MTGCast will always provide a free way for content creators to host their Magic podcasts. That was the original vision when the site launched in 2014 and will always be the core of what MTGCast is.
    </p>
    <p>
      But building and operating a podcast hosting service isn't cheap. We plan to eventually add premium features to help fund the site—more on those to come—but we're currently paying for everything out of pocket. That includes hundreds of dollars a month for the hosting, services, and data storage/transfer, as well has the hundreds of hours of labor we've put into building the site ourselves.
    </p>
    <p>
      If you'd like to support MTGCast in the meantime, you can  <a href="https://paypal.me/mtgcast" target="_blank">donate via PayPal</a>. Any amount helps and 100% of the funds will go towards defraying the costs of running the site.
    </p>
  </div>
</div>
