.hero-container.home {
  background-image: asset-data-url("podcasting-hero.jpg");
  background-size: cover;
  background-position: center top;
  background-color: rgba(33,37,41,0.8);
  background-blend-mode: multiply;
  height: 800px;
  .home-text-container {
    padding: 0 2rem;
    width: 80%;
    position: absolute;
    color: $white;
    h1 {
      font-size: 4rem;
      margin-bottom: 4rem;
    }
    .home-text-info {
      font-size: 1.5rem;
      width: 66%;
      color: $white;
    }
    .highlight-text {
      color: $orange;
    }
    .home-text-cta-button-container {
      margin-top: 4rem;
    }
    .btn-blue {
      color: $white;
      background: $blue;
      border-color: $blue;
      &:hover {
        background: darken($blue, 5%);
        border-color: darken($blue, 5%);
      }
    }
  }
}

.homepage-section {
  padding: 3rem 0;
}