.pages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0rem 1rem;
}

.page-container {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(25, 25, 25, 0.1);
  &:hover {
    box-shadow: 0px 5px 10px rgba(35, 35, 35, 0.4);
    .page-read-more.hidden {
      display: block;
    }
  }
  &.blank {
    display: none;
  }
}

.page-image {
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid $gray-200;
  &.no-border {
    border-bottom: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.page-description-container {
  margin: 1rem 0;
}

.page-settings-container {
  display: flex;
  justify-content: space-between;
  div {
    width: 48%;
    div {
      width: auto;
    }
  }
  img {
    width: 100%;
  }
}

.edit-page-image {
  img {
    width: 100%;
  }
}

.page-info, .post-info {
  padding: 1rem 1rem 3rem;
}

.page-read-more {
  position: absolute;
  bottom: 0;
  left: 1rem;
  &.hidden {
    display: none;
  }
}

.page-body-container {
  margin-bottom: 1rem;
}

.post-body-container {
  margin-bottom: 2rem;
}

.hero-container {
  width: 100%;
  height: auto;
  padding: 3rem 0;
  margin: -1rem 0 1rem;
  background: linear-gradient($gray-700, $gray-900);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &.page-info {
    background: none;
    padding: 0;
    align-items: flex-start;

    .hero-page-image {
      margin-top: -150px;
      width: 300px;
      box-shadow: 0px 5px 10px rgba(25, 25, 25, 0.1);
    }

    .hero-episode-container {
      color: $body-color;
    }

    .hero-episode-container {
      h3 {
        a {
          color: $body-color;
        }
      }
    }
  }

  &.white {
    background: $white;
  }

  .spacer {
    height: 90px;
  }

  .hero-page-image {
    margin: 1rem;
    img {
      width: 100%;
      height: auto;
      padding: 1rem 0;
    }
  }
  .hero-episode-container {
    width: 100%;
    color: $white;
    padding: 1rem;
    .page-admin-button-container {
      margin-top: 1rem;
      a {
        margin-left: 0.5rem;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: 2rem;
      a {
        color: $white;
      }
    }
  }

  // posts/new
  .hero-flex-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    .create-image {
      padding: 0 1rem;
      margin: 2rem 0;

      img {
        width: 50px;
      }
    }

    .create-text {
      color: $body-color;
      padding: 0 1rem;
      margin: 2rem 0;

      p {
        display: none;
      }
    }
  }
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .search-form-container {
    width: 100%;
    .form-control {
      &:focus {
        border-color: lighten($blue, 10%);
        box-shadow: 0 0 0 0.2rem rgba(lighten($blue, 10%), 0.25);
      }
    }
    .btn {
      vertical-align: unset;
    }
  }

  .form-control {
    display: inline-block;
    width: calc(100% - 112px);
    margin-right: 1rem;
  }

  .btn {
    display: inline-block;
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-episodes {
  margin: 0 auto;
  text-align: center;
}

.slug-container {
  min-height: 17px;
}

.page-admin {
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 550px) {
  td {
    &.view {
      width: 90px;
    }
    &.add-new {
      width: 170px;
    }
  }
}

@media (min-width: 576px) {
  .page-container {
    width: 48%;
  }
  .hero-container {
    height: auto;
    .hero-page-image {
      margin: 0;
    }
    .hero-episode-container {

      color: $white;
      h3 {
        margin-bottom: 2rem;
        a {
          color: $white;
        }
      }
    }
    .hero-flex-container {
      .create-image {
        img {
          width: 150px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .page-container {
    width: 48%;
  }
  .hero-container {
    .hero-episode-container {
      h1 {
        font-size: 2.5rem;
      }
    }

    .hero-flex-container {
      .create-image {
        margin: 2rem 1rem 2rem 0;
      }
      .create-text {
        margin: 2rem 0 2rem 1rem;
        h1 {
          border-bottom: 2px solid $gray-200;
        }
        p {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .page-container {
    width: 48%;
  }
  .hero-container {
    .hero-episode-container {
      padding: 1rem 0 1rem 2rem;
      width: 45%;
      h1 {
        font-size: 3rem;
      }
    }
  }

  .page-admin {
    padding: 0 2rem 0 2rem;
    margin-left: 200px;
    overflow: scroll;
    height: calc(100vh - 78px);
  }

  .header-container {
    .search-form-container {
      width: auto;
    }
    .form-control {
      width: 200px;
    }
  }
}

@media (min-width: 1200px) {
  .page-container {
    width: 31%;
    &.blank {
      display: inherit;
      box-shadow: none;;
    }
  }

  .header-container {
    .form-control {
      width: 300px;
    }
  }
}
