.pages-container, .posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0rem 1rem;
}

.page-container, .post-container { 
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(25, 25, 25, 0.1);
}

.page-image {
  margin: -1rem -1rem 1rem;
  border-bottom: 1px solid $gray-200;
  img {
    width: 100%;
    height: auto;
  }
}

.page-info, .post-info {
  padding-bottom: 1.5rem;
}

.page-read-more {
  position: absolute;
  bottom: 0;
}

.page-body-container {
  margin-bottom: 1rem;
}

.hero-container {
  width: 100%;
  height: auto;
  min-height: 600px;
  padding: 0;
  margin: -1rem 0 1rem;
  background: linear-gradient($gray-700, $gray-900);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .hero-page-image {
    width: 40%;
    max-width: 450px;
    img {
      width: 100%;
      height: auto;
      padding: 1rem 0;
    }
  }
  .hero-episode-container {
    width: 45%;
    padding: 1rem 0 1rem 2rem;
    color: $white;
    .page-post-info-container {
      margin-top: 5rem;
    }
    h1 {
      font-size: 3rem;
    }
    h3 {
      margin-bottom: 2rem;
      a {
        color: $white;
      }
    }
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 550px) {
  td {
    &.view {
      width: 90px;
    }
    &.add-new {
      width: 170px;
    }
  }
}

@media (min-width: 576px) {
  .page-container, .post-container {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .page-container, .post-container {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .page-container, .post-container {
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .page-container, .post-container {
    width: 31%;
  }
}
