@import "variables";

textarea {
  &.form-control {
    height: 250px;
  }
}

.publish-time {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem;
  &.month {
    width: auto;
  }
  &.year {
    width: 48px;
  }
  &.day, &.hour, &.minute {
    width: 35px;
  }
}

.edit-post-title {
  font-size: 2rem;
  padding: 1.5rem 1.1rem;
  height: calc(1.5em + 1rem + 2px);
}

.posts-container {
  margin: 1rem 0;

  .nav-pills {
    .nav-link {
      color: $gray-700;
      &.active {
        color: $white;
      }
    }
  }
}

.post-container {
  margin: 2rem 0;
  display: flex;
  p:last-child {
    margin-bottom: 0;
  }
}

.post-left {
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  margin-right: 2rem;
  .play-button-container {
    width: 100%;
    height: 100%;
    background: url("play-button.png");
    background-size: cover;
    &:hover {
      background: url("play-button-hover.png");
      background-size: cover;
    }
  }
}

.admin-post-container {
  margin-bottom: 1rem;

  #post-form {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }

  .post-editor-container {
    grid-column: auto/span 9;
  }

  .post-info-container {
    grid-column: auto/span 3;
  }

  .editor-form-group {
    margin-bottom: 0;
  }
}
