trix-editor {
  height: 90%;
  overflow: scroll;
}

.trix-content {
  word-wrap: break-word;
}

trix-toolbar .trix-button-group--history-tools {
  display: none;
}

@media (min-width: 576px) {
  trix-toolbar .trix-button-group--history-tools {
    display: inherit;
  }
}

// .trix-button-row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
