trix-editor {
  overflow: auto;

  &.full-height {
    height: 90%;
  }
  &.medium {
    height: 300px;
  }

  a {
    color: $blue;
    text-decoration: underline;

    &:hover {
      color: darken($blue, 5%);
    }
  }
}

.trix-content {
  word-wrap: break-word;
}

trix-toolbar .trix-button-group--history-tools {
  display: none;
}

@media (min-width: 576px) {
  trix-toolbar .trix-button-group--history-tools {
    display: inherit;
  }
}

// .trix-button-row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
