trix-editor {
  height: 90%;
  overflow: scroll;
}

.trix-content {
  word-wrap: break-word;
}

// .trix-button-row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
