<div class="row">
  <%= render 'dashboard/sidebar' %>
  <div class="page-admin">
    <div class="content">
    </div>
    <h2>Delete <%= @page.name %></h2>
    <p>
      Are you sure you want to delete this podcast? This operation is irreversible and will result in all episodes and their associated audio files being permanently deleted.
    </p>
    <p>
      <%= link_to "Yes, Delete #{@page.name}", page_dashboard_settings_path(@page), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Final warning—deletion cannot be undone.' } %>
    </p>
  </div>
</div>
