<% content_for :content do %>
  <div class="row">
    <%= render 'dashboard/sidebar' %>
    <div class="page-admin">
      <%= render 'dashboard/alert' %>
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
