<% content_for :content do %>
  <div class="row">
    <div class="collapse show col-2" id="sidebar">
      <%= render 'dashboard/sidebar' %>
    </div>
    <div class="page-admin col-10">
      <%= render 'dashboard/alert' %>
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
